- content_for :title do
  People

%h1 People

.w-row
  .w-row.snippet-row
    - @users.each_with_index do |user,i|
      .w-col.w-col-3.w-col-small-2
        %a.w-clearfix.w-inline-block{:href => profile_path(user)}
          %img.profile-picture{alt:"", :src => "/assets/default_profile_picture.png"}/
        .snippet-text-section
          .snippet-title=user_link user

