= form_for @idea do |f|
  - if @idea.errors.any?
    #error_explanation
      %h2= "#{pluralize(@idea.errors.count, "error")} prohibited this idea from being saved:"
      %ul
        - @idea.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    %br/
    = f.text_field :title, autofocus: true
  .field
    = f.label :tagline, "Tags"
    %br/
    = f.text_field :tagline
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .actions
    = f.submit 'Share'
