%h1 Ideas

.w-row
  .w-row.snippet-row
    - @ideas.each_with_index do |idea,i|
      .w-col.w-col-4.w-col-small-6
        %a.w-clearfix.w-inline-block.snippet{:href => url_for(idea)}
          %img.lightbulb{alt:"", :src => "http://openclipart.org/image/40px/svg_to_png/85045/lightbulb3.png"}/
        .snippet-text-section
          .snippet-title=idea.title
          .snippet-text=idea.tagline

