%h2 Edit profile
= form_for(@user, :as => "user", :url => profile_path(@user), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %div
    = f.label :name
    %br/
    = f.text_field :name
  %div
    = f.label :about_me
    %br/
    = f.text_area :about_me, rows: 4
  %div
    = f.label :color, "Favorite color"
    %br/
    = f.color_field :color
  %div= f.submit "Save"
%h3#change-email-form Change e-mail address
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  %div
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password
  %div= f.submit "Change"
%h3#change-password-form Change password
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %div
    = f.label :password
    %br/
    = f.password_field :password, :autocomplete => "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %div
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password
  %div= f.submit "Change"
%h3 Stored information about you
%dl
  %dt Current sign-in
  %dl
    = @user.current_sign_in_at
    , from #{@user.current_sign_in_ip}#{city = Geocoder.search(@user.current_sign_in_ip)[0].try(:city); ", #{city}" if city.present?}
  %dt Last sign-in
  %dl
    = @user.last_sign_in_at
    , from #{@user.last_sign_in_ip}#{city = Geocoder.search(@user.last_sign_in_ip)[0].try(:city); ", #{city}" if city.present?}
- if @user.facebook_token
  %p Connected with Facebook account.
%h3 Cancel my account
%p
  Unhappy? <a href="https://www.facebook.com/pages/OIN-The-Open-Innovation-Network/391147997685216">Write to us</a> and tell us about your problem.
%p
  If you really want to leave, of course you can: #{button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}
= link_to "Back", :back
