
- content_for :banner do
  .welcome.w-hidden-small.w-hidden-tiny
    .logo
    .tagline.w-hidden-small Open Innovation Network for high school students

.w-row
  .w-col.w-col-6
    %h4 Ideas
  .w-col.w-col-6.right-col
    %a.more-link{:href => ideas_path} See All
  .w-row.snippet-row
    - @ideas.each_with_index do |idea,i|
      .w-col.w-col-4.w-col-small-6
        %a.w-clearfix.w-inline-block.snippet{:href => url_for(idea)}
          %img.lightbulb{:alt => "lightbulb", :src => "http://openclipart.org/image/40px/svg_to_png/85045/lightbulb3.png"}/
        .snippet-text-section
          .snippet-title=idea.title
          .snippet-text=idea.tagline
-#
  .w-row.secondary-row
    .w-col.w-col-8.w-col-small-6
      %h4 Other important stuff
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus
        id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
    .w-col.w-col-4.w-col-small-6.button-column
      %a.button{:href => "#"} Button Text



-# content_for :after_container do
  -#
    .content-bg
      .w-container
        %h2#page-nav-Section-2 This is a smaller title in front of a fixed background
    .section
      .w-container
        .w-row
          .w-col.w-col-6
            %h4 This is some text about this section
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus
              id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus
              id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
          .w-col.w-col-6
            .w-row
              .w-col.w-col-6
                %img.img-example{:alt => "image-placeholder.svg", :src => "/assets/image-placeholder.svg", :width => "130px"}/
                %img.img-example{:alt => "image-placeholder.svg", :src => "/assets/image-placeholder.svg", :width => "130px"}/
              .w-col.w-col-6
                %img.img-example{:alt => "image-placeholder.svg", :src => "/assets/image-placeholder.svg", :width => "130px"}/
                %img.img-example{:alt => "image-placeholder.svg", :src => "/assets/image-placeholder.svg", :width => "130px"}/
    .content-bg.two
      .w-container
        %h2#page-nav-Section-3 This is a smaller title in front of a fixed background
    .section
      .w-container
        .w-row
          .w-col.w-col-6
            %h4 Featured
            .section-description Some featured description text
          .w-col.w-col-6.right-col
            %a.more-link{:href => "#", :target => "_self"} View More
        .w-row.snippet-row
          .w-col.w-col-4.w-clearfix
            %a.w-clearfix.w-inline-block.snippet{:href => "#"}
              %img.example-image{:alt => "image-placeholder.svg", :src => "/assets/image-placeholder.svg"}/
            .snippet-text-section
              .snippet-title Title
              .snippet-text This is some description text for whatever.
          .w-col.w-col-4
            %a.w-clearfix.w-inline-block.snippet{:href => "#"}
              %img.example-image{:alt => "image-placeholder.svg", :src => "/assets/image-placeholder.svg"}/
            .snippet-text-section
              .snippet-title Title
              .snippet-text This is some description text for whatever.
          .w-col.w-col-4
            %a.w-clearfix.w-inline-block.snippet{:href => "#"}
              %img.example-image{:alt => "image-placeholder.svg", :src => "/assets/image-placeholder.svg"}/
            .snippet-text-section
              .snippet-title Title
              .snippet-text This is some description text for whatever.
    .section.grey
      .w-container
        .w-row.secondary-row
          .w-col.w-col-8.w-col-small-6
            %h4 Action do it
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus
              id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
          .w-col.w-col-4.w-col-small-6.button-column
            %a.button{:href => "#"} Button Text
