body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin: 10px 0px 11px;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #0A1D4E;
  font-size: 39px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px 10px;
  color: #4e4e4e;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 0px;
  border-width: 1px;
  border-color: black;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-shadow: none;
}
h5 {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 15px;
  font-size: 14px;
}
.button {
  display: inline-block;
  padding: 12px 31px;
  border-radius: 5px;
  background-color: black;
  background-image: none;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #0f5eeb;
}
.section {
  /*padding-top: 43px;
  padding-bottom: 43px;*/
  background: white;
}
.section.header {
  padding: 5px 0;
  //height: 90px;
  background-color: #333333;
  color: white;
  border-bottom: 20px solid white;
  .logo {
    padding-top: 3px;
    a {
      color: white;
      text-decoration: none;
      font-size: 12px;
      font-family: "Times New Roman", serif;
    }
  }
}
.section.grey {
  background-color: #f2f2f2;
}
.header .my-profile {
  font-weight: bold;
}
.nav-link {
  display: inline-block;
  margin: 5px 5px;
  padding: 10px 14px;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  &.light-bg {
    background-color: #e5e5e5;
  }
}
.nav-link:hover {
  background-color: #969696;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  &.light-bg {
    background-color: #ffffff;
  }
}
.nav-link.highlighted {
  background-color: #0f5eeb;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav-link:hover.highlighted:hover {
  background-color: #0076d6;
}
.nav-bar {
  padding: 5px 0;
  text-align: right;
}
.section.main-content {
  background: white;
  min-height: 290px;
}
.section.banner {
  background: transparent;
}
#hero-bg {
  width: auto;
  padding-top: 33px;
  padding-bottom: 33px;
  background-image: url(/assets/night-sky.jpg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 380px;
  z-index: -1;
}
.subtitle {
  margin-bottom: 18px;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  color: rgba(247, 245, 245, 0.56);
  font-size: 16px;
  font-weight: 700;
}
.section-description {
  font-size: 14px;
}
.snippet {
  text-align: center;
  display: block;
  border-radius: 5px;
  background-color: #f2f2f2;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  color: black;
  text-decoration: none;
}
.snippet:hover {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.right-col {
  padding-top: 13px;
  text-align: right;
}
.more-link {
  padding: 6px 8px;
  border: 2px solid #c2c2c2;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #9c9c9c;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.more-link:hover {
  border: 1px solid #0f5eeb;
  background-color: #0f5eeb;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
}
.snippet-text-section {
  padding: 10px 12px;
}
.snippet-title {
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 700;
}
.snippet-text {
  color: #737373;
  font-size: 14px;
  line-height: 19px;
}
.snippet-row {
  margin-top: 27px;
  margin-bottom: 27px;
}
.button-column {
  padding-top: 32px;
  text-align: center;
}
.company-column {
  padding-right: 0px;
  padding-left: 0px;
}
.img-example {
  margin-bottom: 34px;
}
.footer-link {
  margin-right: 9px;
  margin-left: 9px;
  color: #0f5eeb;
  font-size: 14px;
  text-decoration: none;
}
.footer-nav-bar {
  text-align: right;
}
.footer-text {
  font-size: 14px;
}
.content-bg {
  padding-top: 39px;
  padding-bottom: 39px;
  background-color: lightgrey;
  background-image: url(/assets/example-bg.png);
  background-attachment: fixed;
}
.content-bg.two {
  background-image: url(/assets/example-bg.png);
}
.example-image {
  width: 100%;
}
@media (max-width: 991px) {
  .button {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-link {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .hero-bg {
    background-image: url(/assets/example-bg.png);
  }
  .snippet {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .content-bg {
    background-image: url(/assets/example-bg.png);
  }
  .content-bg.two {
    background-image: url(/assets/example-bg.png);
  }
}
@media (max-width: 767px) {
  .button {
    margin-bottom: 33px;
    padding: 29px 30px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    font-size: 16px;
    font-weight: 700;
  }
  .section.header {
    background: transparent;
  }
  .nav-link {
    background-color: #6b6b6b;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-link:hover {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .company-title {
    margin-bottom: 33px;
  }
  .nav-bar {
    text-align: center;
  }
  .hero-bg {
    padding-right: 10px;
    padding-left: 10px;
    background-image: url(/assets/example-bg.png);
  }
  .snippet {
    margin-bottom: 19px;
  }
  .right-col {
    margin-top: -42px;
  }
  .button-column {
    padding-top: 61px;
  }
  .company-column {
    text-align: center;
  }
  .footer-nav-bar {
    text-align: center;
  }
  .left-footer-col {
    margin-bottom: 13px;
    text-align: center;
  }
  .content-bg {
    padding-right: 10px;
    padding-left: 10px;
    background-image: url(/assets/example-bg.png);
  }
}
@media (max-width: 479px) {
  .button {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .section.header {
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
  }
  .nav-link {
    display: block;
    margin-bottom: 19px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .hero-bg {
    background-image: url(../images/example-bg.png);
  }
  .section-description {
    width: 50%;
  }
  .content-bg {
    min-height: 330px;
    background-image: url(../images/example-bg.png);
  }
}
label {
  display: inline;
  margin: 0;
}
#error_explanation h2 {
  display: none;
}
.nav-link.connect-facebook {
  background-color: #29447e;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav-link.connect-facebook:hover {
  background-color: lighten(#29447e, 10%);
}
.welcome {
  text-align: center;
  .logo {
    margin:50px auto 40px;
    background-image: url(/assets/logo_194.png);
    width: 194px; height: 130px;
  }
  .tagline {
    color: white;
    font-size: 22px;
    font-weight: 700;
  }
  height: 229px;
  margin-bottom: 20px;
}
form.new_idea, form.edit_idea {
  #idea_title {
    font-size: 150%;
  }

}
form {
  max-width: 500px;
  input[type=text], input[type=email], input[type=password], textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
  }
  textarea {
    height: 120px;
  }
}
.lightbulb {
  margin: 30px 0;
}
.user-name.dark-bg {
  border-radius: 5px;
  padding: 3px;
  background: #444;
}
.user-name {
  text-decoration: none;
}
h1 .user-name.dark-bg {
  border-radius: 10px;
  padding: 6px;
}
