.section.footer
  .w-container
    .w-row
      .w-col.w-col-6.left-footer-col
        .footer-text
          © 2013 Open Innovation Network. 
          -#A <a href="http://startupweekend.org/">Startup Weekend</a> graduate.
      .w-col.w-col-6.footer-nav-bar
        -#%a.footer-link{:href => "#"} Text Link
        -#%a.footer-link{:href => "#"} Text Link
        -#%a.footer-link{:href => "#"} Text Link

