.section.header
  .w-container
    .w-row
      .w-col.w-col-4.company-column
        .logo
          =link_to root_path do
            %img{src:"/assets/logo_91.png", width:"91", height:"52"}
            Open Innovation Network
      .w-col.w-col-8.nav-bar
        -#%a.nav-link{:href => "#page-nav-Section 1", :target => "_self"} Nav Link
        -#%a.nav-link{:href => "#page-nav-Section-2", :target => "_self"} Nav Link

        - if current_user
          = link_to 'People', profiles_path, class: "nav-link"
        = link_to 'Ideas', ideas_path, class: "nav-link"
        - if current_user
          = link_to 'Share your idea', new_idea_path, class: "nav-link share-idea highlighted"
          = user_link current_user, "nav-link my-profile"
          = link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-link"
        - else
          =link_to 'Sign Up', new_user_registration_path, class: "nav-link sign-up"
          =link_to 'Log in', new_user_session_path, class:"nav-link"
          =link_to 'Connect with Facebook', user_omniauth_authorize_path(:facebook), class: "nav-link connect-facebook"

