!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Open Innovation Network
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %script{:src => "https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"}
    :javascript
      WebFont.load({
        google: {
          families: ["Montserrat:400,700"]
        }
      });

    %link{:href => "/assets/favicon.png", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "/assets/favicon.png", :rel => "apple-touch-icon"}/
  %body
    =render "layouts/header"
    #hero-bg
    =yield :before_container
    .flash
      .w-container
        - flash.each do |key, message|
          %p{class: key}=message
    .section.banner
      .w-container
        =yield :banner
    .section.main-content
      .w-container
        =yield
    =yield :after_container
    =render "layouts/footer"
